body{margin: 0;}
.block{
  background: #848;
  padding: 10px;
  position: fixed;
  top: 50px;
  width: 300px;
  left: 50px;
}

.block3{
  position: fixed;
  width: 100px;
  height: 100px;
  left: 0;
  top: 50%;
  background: #032;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 108px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
  z-index: 99998;
  display: none;
}

.overlay._active {
  display: block;
}

.overlay__left{
  position: fixed;
  width: 48px;
  height: 60px;
  top: 48px;
  left: 0;
  background: rgba(0,0,0,0.4); 
}

.overlay__right{
  position: fixed;
  width: 84px;
  height: 60px;
  top: 48px;
  right: 0;
  background: rgba(0,0,0,0.4); 
}

.overlay__top{
  position: fixed;
  width: 100%;
  height: 48px;
  top: 0;
  right: 0;
  background: rgba(0,0,0,0.4); 
}


.overlay__helper{
  position: absolute;
  z-index: 99999;
  width: 280px;
  padding: 10px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.2);
  display: none;
}
.overlay__helper._active {
  display: block;
}

.overlay__helper::before {
  content: '';
  display: block;
  position: absolute;
  left: 30%;
  top: -8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
}